# Para Sqlite(Sqlite basicamente é um arquivo local, que tem a mesma estrutura de um banco de dados relacional. Não precisa de instalação de um banco de dados, é só um arquivo. Não precisa de um servidor rodando, é só um arquivo. Se quiser pode usar um sgbd https://pt.stackoverflow.com/questions/12314/sgbd-para-sqlite mas o proprio npx prisma studio da conta de ver o banco de dados.) Aqui não é necessario do docker
DATABASE_URL="file:./dev.db" # O arquivo dev.db é o arquivo que vai ser criado no projeto, ele é o banco de dados do sqlite.
# Para Postgres pode usar o docker ou instalar o postgres no seu computador. E aqui também podemos usar o npx prisma studio para ver o banco de dados.
# DATABASE_URL="postgresql://user:password@localhost:5432/dbname"

# Variavel para definir qual ambiente esta sendo utilizado
NODE_ENV = "development" # "production" or "development"